<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My pinterest
        link(rel="stylesheet", href="../sass/main.scss")

    body
        div.nav-container
            div.row
                div.nav-item.col-xs-1.col-sm-1.col-md-1.col-lg-1
                    img(src="../images/icon.png", alt="")#icon
                div.nav-item.col-xs-6.col-sm-6.col-md-6.col-lg-6.inner-addon.left-addon
                    span.glyphicon.glyphicon-search   
                    input(type="text" placeholder="Search for more").form-control#input1
                div
                div.nav-item.col-xs-1.col-sm-1.col-md-1.col-lg-1 
                    div.btn 
                        a(href="#") Home
                div.nav-item.col-xs-1.col-sm-1.col-md-1.col-lg-1 
                    div.btn 
                        a(href="#") Following
                div.nav-item.col-xs-1.col-sm-1.col-md-1.col-lg-1 
                    div.btn 
                        a(href="#") Melika
        div.container
            div.row
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img1.jpg", alt="image1").overlay
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img2.jpg", alt="image2").overlay
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img3.jpg", alt="image3").overlay
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img4.jpg", alt="image4").overlay
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img5.jpg", alt="image5").overlay
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img6.jpg", alt="image6").overlay
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img7.jpg", alt="image7").overlay
                div.col-xs-6.col-sm-6.col-md-4.col-lg-3.photo
                    img.rounded(src="../images/img8.jpg", alt="image8")
                   
                   

//- div.nav-item.col-xs-6.col-sm-6.col-md-6.col-lg-6.inner-addon.left-addon
//-                     span.glyphicon.glyphicon-search   
//-                     input(type="text" placeholder="Search for more").form-control#input1









//- <div class="input-group">
//-     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
//-     <input id="email" type="text" class="form-control" name="email" placeholder="Email">
//-   </div>



//- .rgba-blue-grey-light


    //- body
        //- header This is header
        //- div.container
        //-     ul.nav.nav-tabs
        //-         img(src="", alt="page-icon")    
        //-         input(type="text")
        //-         li.nav-item
        //-         a.nav-link.active(href="#") Home
        //-         li.nav-item
        //-         a.nav-link(href="#") About
        //-         li.nav-item
        //-         a.nav-link(href="#") Services
        //-         li.nav-item
        //-         a.nav-link(href="#") Contact
        //-     p#text
        //-     | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        //-     | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        //-     | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        //-     | aliquip ex ea commodo consequat. Duis aute irure dolor in
        //-     | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        //-     | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        //-     | culpa qui officia deserunt mollit anim id est laborum."
        //-     ul
        //-     li item 1
        //-     li item 2
        //-     li item 3
        //-     li item 4
                   
                   
                   
                   
//-                     .row
//-                         .col-xs-12.col-sm-12.col-md-4.col-lg-4 Left Column
//-                         .col-xs-12.col-sm-12.col-md-4.col-lg-4 Middle Column
//-                         .col-xs-12.col-sm-12.col-md-4.col-lg-4 Right Column
//-                 //- section.col-xs-12.col-sm-12.col-md-8.col-lg-8
//-                 .col-xs-12.col-sm-12.col-md-4.col-lg-4
//-                 .col column 1
//-                 .col column 2
//-                 .col column 3
//-                 .col column 4

//-         script(src="../js/main.js")
    
//- div.nav-item.col-xs-6.col-sm-6.col-md-6.col-lg-6
                //-     input(type="text", placeholder="Search for more").full-length.rounded.inner-addon.left-addon.glyphicon.glyphicon-user
                //- div.nav-item.col-xs-6.col-sm-6.col-md-6.col-lg-6.input-group
                //-     span.input-group-addon
                //-         i.glyphicon.glyphicon-user
                //-     input(type="text", placeholder="Search for more").form-control
